<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>EXUpdatesCheckOnLaunch</key>
    <string>ALWAYS</string>
    <key>EXUpdatesCodeSigningCertificate</key>
    <string>-----BEGIN CERTIFICATE-----&#xD;
MIIC2zCCAcOgAwIBAgIJRSECtCeGMl7+MA0GCSqGSIb3DQEBCwUAMBcxFTATBgNV&#xD;
BAMTDEFJIFJhZGFyIE9UQTAeFw0yNjA5MTExMTE4NDlaFw0zNjA5MTExMTE4NDla&#xD;
MBcxFTATBgNVBAMTDEFJIFJhZGFyIE9UQTCCASIwDQYJKoZIhvcNAQEBBQADggEP&#xD;
ADCCAQoCggEBAKJ673cfkEJSh9YQ+rKkNULu9qVTpznY+90Fqn6LgNNGY7hhquO5&#xD;
OUw8px97LhlIEPm+CKiW2590e0AV1vIafQ27baPZxUrdAjq6FaSPStkDD0rQ/W69&#xD;
BWqvu0yHyQE+qOCSeb3wW14U48cytRNP30mzBpG0dGcRinEbUm++b1LUeI8uN406&#xD;
Qs7OwECRydnIXTHMNUrudqT684ZvVdntUoIeyAglr6l/I4S37reDP9oMtUWain/E&#xD;
rIjVnYsRg8TctzBmn/LSj6BhztgW4X11ls6FD/weY/7DzLOlH/jY0rYxmNFrrE5k&#xD;
YZBF5ZH97PDpkw7yoV/EBf34uLBbUyX8VCMCAwEAAaMqMCgwDgYDVR0PAQH/BAQD&#xD;
AgeAMBYGA1UdJQEB/wQMMAoGCCsGAQUFBwMDMA0GCSqGSIb3DQEBCwUAA4IBAQBv&#xD;
YM96/dGufpdDsi+z0BfpJTvrrl+b39CdGS2q3oUP/d6/9DpY0hcZV03l78/hWD4G&#xD;
Dw3jC2J5Y9hrOgqZuvGlrCwiJyUGwRWSmHhIi4aNqGpXVo3X6A/oPDI17WOHkuqR&#xD;
vd4XzTbt0Fx4+bLKYRH5t2M7NU9qFjLwTbpLLn0Y7Up2lL2ZWO+PRSto95ZQyplN&#xD;
sAK4ifeqg62UsMAPmlt1z7u+9whHVR3B28mGERPk4HuKnUcbMgwzDKxFFnAhu8Si&#xD;
9W0lZ1FWgcafJvrBBb/qk1dUFkCWzB1X3G/71zvka802zH7JgmaLD4z7Bh5OqAt3&#xD;
PbWzdGNq7MH5C0Stjogu&#xD;
-----END CERTIFICATE-----&#xD;
</string>
    <key>EXUpdatesCodeSigningMetadata</key>
    <dict>
      <key>keyid</key>
      <string>ai-radar-ota-2026</string>
      <key>alg</key>
      <string>rsa-v1_5-sha256</string>
    </dict>
    <key>EXUpdatesEnabled</key>
    <true/>
    <key>EXUpdatesLaunchWaitMs</key>
    <integer>0</integer>
    <key>EXUpdatesRequestHeaders</key>
    <dict>
      <key>expo-channel-name</key>
      <string>stable</string>
    </dict>
    <key>EXUpdatesRuntimeVersion</key>
    <string>0.13.0</string>
    <key>EXUpdatesURL</key>
    <string>https://radar.yswdra.cn/updates/v1/manifest</string>
  </dict>
</plist>